{% extends "base.html" %}

{% block title %}Список авиакомпаний{% endblock %}

{% block content %}
<h1>Список авиакомпаний</h1>

<table>
    <thead>
        <tr>
            <th>ID авиакомпании</th>
            <th>Название</th>
            <th>Код</th>
            <th>Детали</th>
        </tr>
    </thead>
    <tbody>
        {% for airline in airlines %}
        <tr>
            <td>{{ airline.id }}</td>
            <td>{{ airline.name }}</td>
            <td>{{ airline.code }}</td>
            <td><a href="{% url 'airline_detail' airline.id %}" class="button">Подробнее</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'create_airline' %}" class="button">Создать новую авиакомпанию</a>
{% endblock %}
