{% extends "base.html" %}

{% block title %}Детали билета{% endblock %}
{% block content %}
<h1>Детали билета</h1>

<p><strong>ID билета:</strong> {{ ticket.id }}</p>
<p><strong>Пользователь:</strong> {{ ticket.user_id }}</p>
<p><strong>Авиакомпания:</strong> {{ ticket.airline_id }}</p>
<p><strong>Номер рейса:</strong> {{ ticket.flight_number }}</p>
<p><strong>Отправление:</strong> {{ ticket.departure }}</p>
<p><strong>Прибытие:</strong> {{ ticket.arrival }}</p>
<p><strong>Дата:</strong> {{ ticket.date }}</p>
<p><strong>Цена:</strong> {{ ticket.price }}</p>

<a href="{% url 'ticket_list' %}" class="button">Назад к списку билетов</a>
{% endblock %}
